doctype html
html
  head
    meta(charset='utf-8')
    title 牛股王test
    link(rel='stylesheet', href='https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')
  body
    .container
      .col-md-8.col-md-offset-2
        #app
          table.table.table-hover.table-condensed
            thead
              tr
                th.text-center.col-md-3 姓名
                th.text-center.col-md-3 年龄
                th.text-center.col-md-3 部门
                th.text-center.col-md-3 操作
            tbody
              tr
                td.text-center
                  input.form-control.input-sm(v-model='user.name')
                td.text-center
                  input.form-control.input-sm(v-model='user.age')
                td.text-center
                  input.form-control.input-sm(v-model='user.part')
                td.text-center
                  button.btn.btn-xs.btn-primary
                    span.glyphicon.glyphicon-plus(@click='addUser()')             
              tr(v-for='item in users')
                td.text-center {{item.name}}
                td.text-center {{item.age}}
                td.text-center {{item.part}}
                td.text-center
                  button.btn.btn-xs.btn-danger
                    span.glyphicon.glyphicon-trash(@click='delUser(item._id)')
    script(src='http://cdn.jsdelivr.net/vue/1.0.26/vue.min.js', charset='utf-8')
    script(src='https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js', charset='utf-8')
    script(type="text/javascript", src="/index.js")
